# We chose a very restrictive gitignore setup that only allows certain files 
# to avoid adding very large data files. This means that .DS.Store and Thumbs.db 
# files will automatically be ignored.

# Ignore everything
*

# Allow directories (so Git can traverse into subfolders)
!*/

# Exclude .ipynb_checkpoints folders
.ipynb_checkpoints/

# Exclude __pycache__ folders
__pycache__

# Allow Python and notebook file types
!*.ipynb
!*.py
!*.html
!*.md

# Allow image files
!*.png
!*.PNG
!*.jpg

# Allow .gitignore file
!*.gitignore

# Allow .yml files
!*.yml
